@use "./typography.scss";

.user-card {
  box-shadow:
    rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.user-img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 100%;
  object-position: center center;
}

.project-card {
  height: 400px;
  @media (max-width: 1280px) {
    height: auto;
  }
  .image-section {
    overflow: hidden;
  }
  &:hover {
    // img {
    //   scale: 1.1;
    //   transition: ease-in-out 0.5s;
    // }
    margin-top: -15px;
    transition: ease-in-out 0.5s;
    overflow: hidden;
  }
}
