@tailwind base;
@tailwind components;
@tailwind utilities;

.user-card {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.user-img {
    height: 100;
    width: 100;
    object-fit: cover;
    border-radius: 100%;
    object-position: center center;
}